<!-- views/pages/booking.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
    <script>
        $(function () {
            function updateTotal() {
                let total = $('#booking').find(':checked').toArray() // find selected form elements
                                .map(e => $(e).data('price'))        // get price attributes
                                .reduce((tot, amt) => tot + amt);    // total them
    
                $('#total-price').text(total);
            }

            $('#booking').on('change', 'input,select', updateTotal);
            updateTotal();
        });
    </script>
</head>
<body class="container">

<header>
    <% include ../../partials/header %>
</header>

<main>
    <div class="jumbotron">
    <h1>New Booking</h1>
    <%if (booking_error != '') { %>
        <div class="alert alert-danger">
            There were errors with your booking:
            <ul>
                <% booking_error.forEach(function (error) { %>
                    <li><%= error %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>
    <form id="booking" method="post">
        <fieldset>
            <legend>Date</legend>
            <input type="date" name="bookedFor" />    
        </fieldset>
                        
        <fieldset>
            <legend>Staff</legend>
            <% team.forEach(function(member) { %>
                <label><input type="checkbox" data-price="<%= member.memberprice %>" name="team" value="<%= member._id %>" /> <%= member.membername %> - <%= member.memberjob %> - £<%= member.memberprice %></label><br />
            <% }); %>       
        </fieldset>

        <fieldset>
            <legend>Attractions</legend>
            <% attractions.forEach(function(attraction) { %>
                <label><input type="checkbox" data-price="<%= attraction.attractionprice %>" name="attractions" value="<%= attraction._id %>" /> <%= attraction.attractionname %> - £<%= attraction.attractionprice %></label><br />
            <% }); %>       
        </fieldset>

        <fieldset>
            <legend>Locations</legend>
            <select name="location">
            <% locations.forEach(function(place) { %>
                <option data-price="<%= place.locationprice %>" value="<%= place._id %>"><%= place.locationname %> - £<%= place.locationprice %></option>
            <% }); %>
            </select>         
        </fieldset>

        <fieldset>
            <legend>Timing</legend>
            <select name="timing">
            <% timings.forEach(function(time) { %>
                <option data-price="<%= time.timeprice %>" value="<%= time._id %>"><%= time.hours %> - £<%= time.timeprice %></option>
            <% }); %>
            </select>         
        </fieldset>

        <p>Total: <strong>£<span id="total-price">0</span></strong></p>

        <input type="submit" value="Book" />
    </form>
    </div>
</main>

<footer>
    <% include ../../partials/footer %>
</footer>

</body>
</html>
